<div class="template">
  <h2>Artists</h2>

  <p>This is the <code>artists</code> template.</p>

  <ul>
  {{#each model as |artist|}}
    <li>{{artist.name}}</li>
  {{/each}}
  </ul>

  {{outlet}}
</div>
